# Primeira Questão

A partir de uma tabela que mostra a distribuição de frequência de mulheres, na faixa etária
de 25 a 34 anos, em relação a pressão sistólica em milímetros de mercúrio, será respondido algumas questões.

# Bibliotecas

Primeiramente, é necessário realizar a importação das dependências que serão utilizadas no código.

In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('q1.csv',delimiter=',')
df

  pressao_siatolica(mm de Hg)  frequencia  ponto_medio
0                 [80 |--100)          30         90.0
1                 (100|--120)          80        110.0
2                 (120|--140)          40        130.0
3                 (140|--160)          10        150.0
4                 (160|--180)           4        170.0
5                 (180|--200]           6        190.0
6                       Total         170          NaN

Foi realizada a adição do ponto médio a tabela de distribuição. O  **ponto_medio** é a soma entre os intervalos dividido por 2.

Adição da porcentagem de cada frequência a tabela. Que é calculada a partir......

In [53]:
df['porcentagem'] = (df['frequencia'] / 170)*100
df['ponto_medio'] = df['ponto_medio'].fillna(0) #substituição de NaN por 0.0
df

  pressao_siatolica(mm de Hg)  frequencia  ponto_medio  porcentagem
0                 [80 |--100)          30         90.0    17.647059
1                 (100|--120)          80        110.0    47.058824
2                 (120|--140)          40        130.0    23.529412
3                 (140|--160)          10        150.0     5.882353
4                 (160|--180)           4        170.0     2.352941
5                 (180|--200]           6        190.0     3.529412
6                       Total         170          0.0   100.000000

Obs: Por algum motivo desconhecido por mim, a função sum() estava resultando em 340, ao inves de 170. Por isso, ela não foi usada.

**a)** 
A percentagem de mulheres que têm pressão igual ou maior que 120mm de Hg é de  **17,64%**

**b)** O número de mulheres que têm pressão menor que 160 mm de Hg é de **155 mulheres.** Para chegar a essa resposta foram somandos as frenquência das linhas __0__ a __3__, sendo a última só sendo considerado metade do valor, ou seja 5.